<h1>Editing partner</h1>

<%= render "form", partner: @partner, url: partner_path(@account, @partner)  %>

<br>

<div>
  <%= link_to "Show this partner", @partner %> |
  <%= link_to "Back to partners", partners_path %>
</div>
