<div id="flash_messages">
  <% flash.each do |key, message| %>
  <% unless message.nil? %>
  <div class="bg-info text-dark fw-bold">
    <%= message.html_safe %>
  </div>
  <% end %>
  <% end %>
  <%flash.clear%>
</div>