<div class="page__header d-flex justify-content-between align-content-center bg-white">
  <div class="d-flex align-items-center">
    <h1 class="page__heading ms-4 me-4 mb-2"><%= title %></h1>
  </div>
  <div class="d-flex align-items-center pe-3">
    <%= yield :page_header %>
  </div>
</div>
<hr>
