<div class="dropdown">
  <button class="btn ra-dropdown-btn dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <%= material_icon.shape(:more_horiz).outlined %>
  </button>
  <div class="dropdown-menu text-center" aria-labelledby="dropdownMenu2">
    <%=link_to "Upraviť bankový účet",edit_bank_account_path(account,bank_account), class: "dropdown-item" %>
    <%= button_to bank_account_path(account, bank_account), method: :delete, class: "dropdown-item text-danger align-items-center", type: "button" do %>
      <%= material_icon.shape(:delete).outlined %> <span>Vymaž bankový účet</span>
    <% end %>
  </div>
</div>